@using AnalysisCallUser._01_Domain.Core.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account"
          asp-action="Logout"
          method="post"
          id="logoutForm"
          class="navbar-right">

        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link"
                   asp-area="Identity"
                   asp-page="/Account/Manage/Index">
                    Hello @UserManager.GetUserName(User)!
                </a>
            </li>

            <li class="nav-item">
                <button type="submit"
                        class="btn btn-link navbar-btn navbar-link">
                    خروج
                </button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    </ul>
}
